#posts article
{
  flex-direction: row;
  margin: 0 auto 1em;
  padding: 0;
}
#posts .likesBar
{
  min-width: 40px;
  border-radius: 12px 0 0 12px;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article .post
{
  max-height: 300px;
  overflow: hidden;
}
article .postHead
{
  height: 20px;
  display: flex;
  align-items: center;
}
article .postFeet
{
  height: 40px;
  display: flex;
  align-items: center;
}
.fontAwesomeSize
{
  font-size: 1.5em;
}